    <style>
        :root {
            --azul: #3c8be6;
            --laranja: #e67e22;
            --cinza: #dfdfdf;
            --verde: #35cf68;
            --amarelo: #fdff74;
            --roxo: #9b59b6;
            --cinza-escuro: #21273b;
            --fundo-claro: #f2faff;
            --texto-escuro: #332c50;
            --texto-branco: #f2fbff;
        }

        body {
            background-color: var(--fundo-claro);
            color: var(--texto-escuro);
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        body > header {
            background-color: var(--azul);
            color: var(--texto-branco);
            padding: 20px;
            margin: 0px;
            border-radius: 4px
            width: 100vw
            height: 30vh;
            box-sizing: border-box;
        }

        body > header h1 {
            margin: 0 0 15px 0;
            font-size: 1.8rem;
        }

        nav {
            background-color: var(--laranja);
            padding: 15px;
            border-radius: 2px;
        }

        nav ul {
            margin: 0;
            padding-left: 20px;
        }

        nav a {
            color: #34495e;
            font-weight: bold;
        }

        main {
            flex: 1;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        div {
            background-color: var(--cinza);
            padding: 20px; 
            border-radius: 8px;
            width: 99vw;
            height: 60vh;
            overflow: hidden;
            box-sizing: border-box;
        }
        div > section {
            background-color: var(--amarelo);
            padding: 20px;
            border-radius: 4px;
            height : 90%;
            width : 100%;
            box-sizing: border-box;
        }

        section h2 {
            margin: 0 0 15px 0;
        }

        section > article {
            background-color: var(--verde);
            padding: 10px;
            border-radius: 6px;
            height : 90%;
            width : 100%;
            overflow: hidden;
            box-sizing: border-box;
        }

        article h3 {
            margin: 0 0 10px 0;
        }

        article p {
            margin: 0;
        }

        div > aside {
            background-color: var(--roxo);
            color: var(--texto-branco);
            padding: 20px;
            margin: 5px;
            border-radius: 8px
            heigth : 20%;
            width: 100%;
            box-sizing: border-box;
        }

        aside h4 {
            margin: 0;
        }

        body > footer {
            background-color: var(--cinza-escuro);
            color: var(--azul);
            padding: 0px;
            text-align: center;
            margin: 10px;
            border-radius: 8px;
            font-weight: bold;
            height: 5vh;
            width: 100vw;
            box-sizing: border-box;
        }
    </style>