body {
    width: 100vw; 
    height: 100vh; /* profisora isso aqui faz o body ser 100% da tela */
    display: flex;
    justify-content: center;
    align-items: center;
}
.retangulo {
    background-color: gray;
    width: 800px;
    height: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.quadrado {
    background-color: red;
    height: 200px;
    width: 200px;
}